// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.form-section {
  width: 30%;
  display: block;

  .text-form-block {
    display: block;
    font-size: 16px;
    margin: 20px 0;
    width: 320px;

    .input-form {
      border-right: none;
      border-left: none;
      border-top: none;
      font-size: 16px;
      width: 100%;
    }

    .form-btn {
      background-color: #2E2F30;
      color: #fff;
      font: 16px italic;
      padding: 5px 0;
      width: 120px;
    }
  }

}

section.cards-section {
  display: inline-block;
  margin: 0 auto;
  width: 90%;

  .cards {
    padding: 20px;
    margin: 10px;
    width: 40px;
  }
}
